
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lemon&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;

}

/*INDEX*/

.principal-index {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #f6dcac;
    
}


.imagenes-main {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}


.imagenes-main img {
   max-width: 100%;
   height: auto;
   justify-self: center;
}


.boton-index {
   padding: 15px 30px;
   font-size: 18px;
   border-radius: 10px; 
   border: 1px;
   cursor: pointer; 
   max-width: 100%;
   justify-self: center;
   background-color: antiquewhite;
   font-family: "Righteous", sans-serif;


}


.boton-index:hover {
   background-color: #f1bb47a1; 
}

@media only screen and (max-width: 768px) {
   .imagenes-main {
       grid-template-columns: 1fr;
   }
}














/*Main*/

.fondo-main{
    background-color: #f6dcac;
}

/*
.imagenes-main {
   background-color:beige;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10%;
}
.icono-play {
   width: 150px;
   height: 150px;
   margin: 150px;
   display: flex;
    
}
/*footer*/

.redes-sociales {
    background-color: #FF0000B3;
    color: #f6dcac;
    ;
    padding: 30px;
}
 .iconos-redes{
    display: flex;
    justify-content: center;

 }

 .derechos {
    display:flex;
    justify-content: center;
    font-family:'Ubuntu';
    text-align: center;

 }



 /*Home*/

 /*header*/

 .header-principal {
   background: rgb(242,228,207);
background: radial-gradient(circle, rgba(242,228,207,0.9444152661064426) 56%, rgba(255,233,196,1) 100%);
   font-size: 150%;
  border-bottom: rgba(255, 255, 255, 0.596) 5px double;
  font-family: "Righteous", sans-serif;

 }
 .logo-header {
   width: 10%;
   height: auto;
  
 }

 .logo-header-letras {
   width: 20%;
   height: auto;
  
 }
.nav-item {
   background-color: transparent; /* Color de fondo inicial */
   transition: background-color 0.3s ease; /* Transición */
 }
 .nav-item:hover {
   background-color: #f1bb47a1; /* Cambia el color de fondo al pasar el mouse */
 }
 


 .menu {
   background-color: #ff3131;
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   font-family:'Ubuntu';
  
 }

 .lista {
   list-style: none;
   padding: 10px;
 }

 li.e1, li.e2, li.e3 {
   padding: 10px;
   background-color: #f6dcac;
   margin: 5px;
   font-family:'Ubuntu';

 }

 /*main*/

 .formulario-busqueda {
   display: flex;
   justify-content: center;
   align-self: center;
   background-color: #f6dcac;
   font-size: 18px;
   margin: 50px 400px;
   padding: 50px;
   font-family:'Ubuntu';
 }

.titulos {
   display: flex;
   justify-content: center;
   padding: 20px;
   font-size: 150%;
   font-family: "Righteous", sans-serif;
}
.titulo-datos{
   display: flex;
   justify-content: center;
   padding: 15px;
}
.datos-medicamento {
   display: flex;
   justify-content: center;
   padding: 20px;
   font-family:'Ubuntu';

}

.acciones-medicamento {
   display: flex;
   justify-content: center;
   font-family:'Ubuntu';
}

.guardar , .compartir , .descargar {
   padding: 10px;
   background-color: #f6dcac;
   margin: 5px;
   font-family:'Ubuntu';
}

/*Acerca de*/

.acerca-de-main {
   display: flex;
   justify-content: center;
   align-self: center;
   padding:  10px 50px;
   font-family:'Ubuntu';
   background-color: rgb(125 131 79 / 10%);
   margin-top: 50px;
   font-size: 150%;
}

.comida-sin-gluten {

   width: 70%;
   height: auto;
   display: flex;
   justify-content: center;

     
}

.dudas {
   margin: 20px;
   padding: 20px;
}


/*Blog*/

.video {
 
   display: flex;
   justify-content: center;
   width:100%;
    height:80%; 
}

.icono-click {
   width: 30px;
   height: 30px;
   

    
}

/*Iniciar sesion*/

.imagen-log-in {
   width: 20%;
   height: auto;

}


/*Formulario Inicio se sesion*/

.form-control-nuevo{
   padding: 0.375rem 0.75rem;
   width: 80%;
   border-radius: var(--bs-border-radius);
   text-align: center;
   width: 70%;
   height: auto;
   display: flex;
   justify-content: center;

}

.estilo-iniciosesion{
   background: rgb(242,228,207);
   background: radial-gradient(circle, rgba(242,228,207,0.9444152661064426) 56%, rgba(255,233,196,1) 100%);
}