

.fondo-body-home{

    background-color: rgb(125 131 79 / 10%);

}
main{

    .video {
 
        display: flex;
        justify-content: center;
        width:100%;
         height:80%; 
     }


     .boton-click{
        @extend %botones;
        padding: 5px 5px;
     }
     .icono-click {
        width: 30px;
        height: 30px;
        
     
         
     }




}
